pandas==1.0.5
nltk==3.5
requests==2.24.0
numpy==1.21.0
seaborn==0.101
Flask==1.1.2
matplotlib==3.2.2
scikit_learn==0.24.1
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
Werkzeug==0.15.5
scipy==1.5.0
wordcloud==1.6.0
xgboost==1.4.0

